<div>
  <input type="file" (change)="fileChangeEvent($event)" />

  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="false"
    [aspectRatio]="4 / 3"
    [resizeToHeight]="300"
    format="png"
    (imageLoaded)="imageLoaded(croppedImage)"
    (imageCropped)="imageCropped($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <!-- <img [src]="croppedImage" /> -->

  <input type="file" (click)="export()" />
</div>
