<form [formGroup]="newPromotion" class="form">
  <div class="form-header">
    <h2>NEW PROMOTION</h2>
  </div>

  <div class="form-body">
    <div>
      <div class="row">
        <div class="col-lg-12">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <input
            [ngClass]="{ 'border border-danger': valid == false }"
            type="text"
            id="name"
            name="name"
            formControlName="name"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="form-footer">
    <button class="btn" (click)="onSubmit()">Submit</button>
  </div>
</form>
