.background {
  width: 800px;
  height: 300px;
}

.facebook-background {
  background-color: #3b5998;
}

.social-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

$border-color: rgba(0, 0, 0, 0.2);
