<div style="border: none !important">
  <div class="row background" style="width: 120px; height: 40px !important">
    <div
      class="d-flex flex-row facebook-background social-border"
      style="padding: 0px"
    >
      <img
        src="../../assets/image/facebook-icon.png"
        style="width: 30px; height: 30px; margin-top: 10px"
      />
      <div
        style="border-left: 2px solid rgba(0, 0, 0, 0.2); height: 50px"
      ></div>
      <p
        style="
          padding-left: 15px;
          padding-top: 8px;
          margin-bottom: 0px;
          font-size: 20px;
          color: white;
        "
      >
        Share
      </p>
    </div>
  </div>

  <div
    class="row background"
    style="width: 120px; height: 40px; margin-top: 20px"
  >
    <div class="d-flex flex-row facebook-background social-border">
      <img
        src="../../assets/image/twitter-logo.png"
        style="width: 30px; height: 30px; margin-top: 10px"
      />
      <div
        style="border-left: 2px solid rgba(0, 0, 0, 0.2); height: 50px"
      ></div>
      <p
        style="
          padding-left: 15px;
          padding-top: 8px;
          margin-bottom: 0px;
          font-size: 20px;
          color: white;
        "
      >
        Tweet
      </p>
    </div>
  </div>
</div>
